.app-menu {
    position: relative;
    width: 300px;
    height: 400px;
    padding: 30px 25px 15px 25px;
    align-items: center;
    background-color: #fff;
    border-right: 1px solid #f53e3e;

    .menu-list {
        margin-top: 10px;
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 30px;
        height: 100%;   

        li {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 10px;
            padding: 10px;
            color: black;
            font-size: 20px;
            cursor: pointer;

            &:hover {
                background: rgba(77, 77, 77, 0.3);
                border-radius: 12px;
            }

            &.active {
                background: #4d4d4d4d;
                color: #D3413F;
                font-weight: bold;
                border-radius: 12px;

                svg {
                    color: #D3413F;
                }
            }

            svg {
                color: black;
                font-size: 25px;
            }
        }
    }
}