.layout {
  display: flex;
  flex-direction: column;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
}
.content {
  flex-grow: 1;
  padding: 20px;
  margin-top: 80px;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #D3413F;
  color: white;
  text-align: center;
  padding: 10px 0;
  z-index: 1000;
}
