.home-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    .project-introduction{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 30px 100px;
        line-height: 1.5;
        h1, h2 {
            font-weight: bold;
            margin-bottom: 10px;
        }
        ul{
            padding: 0px 50px;
        }
        p{
            padding: 10px 0px;
        }
    }
}